doctype html
head
  meta(charset='utf-8')
  |     
  meta(name='viewport', content='width=device-width, initial-scale=1')
  |     
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
  |     
  link(rel='stylesheet', href='https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css', type='text/css')

include includes/header.pug

.py-3
  .container
    .row
      .col-md-12
        .row
          .col-md-6
            h1 Dettagli Annuncio:
            h2 " #{anntxt} "
          | 
          .col-md-6
            form(method='POST', action='/ritorna')
              .form-group
                input.form-control(type='hidden' value=ritorna name='subject')
                |
                button.btn.btn-primary(type='submit') Ritorna agli annunci

          include sezione_annuncio.pug
|     
.py-3
  .container
    .row
      .col-md-6
        h3 Recensioni sull'utente
        
        include sezione_recensione.pug
      |                 
      .col-md-6
        a.btn.btn-primary(href='/addreview') Aggiungi recensione


        //include sezione_recensione.pug
|     
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
|     
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
|     
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')
