doctype html

include includes/header.pug

head
  meta(charset='utf-8')
  |     
  meta(name='viewport', content='width=device-width, initial-scale=1')
  |     
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
  |     
  link(rel='stylesheet', href='https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css', type='text/css')
.py-5.text-center.opaque-overlay.bg-primary(style='background-image: url("");')
  .container.py-5
    .row
      .col-md-12.text-white
        h1.display-3.mb-4 Ripetizioni UniTN&nbsp;
  |         
  .container
    .row
      .col-md-12
        p.text-white
          | Ripetizioni UniTN &egrave; un sito dove puoi offrirti per dare ripetizioni per una certa materia e trovare altri studenti disposti ad offrire ripetizioni
|     
.py-5
  .container
    .row
      .col-md-12
        p
          | Componenti del gruppo:&nbsp;
          br
        |                     
        ul
          li Rupert Gobber 
          |                         
          li Niccol&ograve; Carlo Bellucco 
          |                         
          li Aleksandar Gjoreski 
          |                         
          li Luca Fregolon 
          |                         
          li Saverio Turetta 
          |                         
          li Sebastiano Cassol 
        |                     

include includes/footer.pug


script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
|     
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js', integrity='sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4', crossorigin='anonymous')
|     
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js', integrity='sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1', crossorigin='anonymous')