- var subjects = ["Algoritmi", "Analisi 1", "Analisi 2", "Calcolatori", "Chimica 1", "Chimica 2", "Fisica 1", "Fisica 2", "Geometria e Algebra Lineare", "Logica", "Probabilità", "Programmazione 1", "Programmazione 2", "Reti"];
select.form-control(id="subject" name="subject")
    for subject in subjects
        option #{subject}