.text-white.bg-secondary
  .container
    .row
      .p-4.col-md-4
        h2.mb-4.text-light Ripetizioni UniTN
        |                     
        p.text-white
          | Il nostro scopo &egrave; aiutarti a trovare aiuto per preparare gli esami
          br
          |                         
          br
          | Povo, TN
      |                 
      .p-4.col-md-4
        h2.mb-4.text-light Mapsite
        |                     
        ul.list-unstyled
          a.text-white(href='#') Home
          |                         
          br
          |                         
          a.text-white(href='#') About us
          |                         
          br
          |                         
          a.text-white(href='#') Our services
          |                         
          br
          |                         
          a.text-white(href='#') Stories
    |             
    .row
      .col-md-12.mt-3
        p.text-center.text-white &copy; Copyright 2017 Ripetizioni UniTN - All rights reserved. 