.py-5.text-center.opaque-overlay.bg-primary(style='background-image: url("");')
  .container.py-4
    .row
      .col-md-12.text-white
        h1.display-3.mb-4 Ripetizioni UniTN&nbsp;
  |         
  .container.py-1
    .row
      .col-md-12
        p.text-white
          | Ripetizioni UniTN &egrave; un sito dove puoi offrirti per dare ripetizioni per una certa materia e trovare altri studenti disposti ad offrire ripetizioni